ul.stanza li {
	list-style-type: none;
	display: inline;
	font-size: 1em;
	color: var(--warmblack);
	font-weight:400;
	margin:0.05em;
}
ul.stanza li:nth-child(4n+0) {
	color: var(--warmlightgray);
	font-weight:500;
}
ul.stanza li:nth-child(4n+1) {
	color: var(--warmblack);
	font-weight:600;
}
ul.stanza:nth-child(odd) li:nth-child(4n+1) {
	color: var(--warmgray);
	font-weight:400;
}
ul.stanza li:nth-child(4n+2) {
	color: var(--warmlightgray);
	font-weight:600;
}
ul.stanza li:nth-child(4n+3) {
	color: var(--warmgray);
	font-weight:400;
}

ul.stanza > li:nth-child(9n+1):after {
	color: var(--red);
	content: " _|.";
	font-weight:600;
}
ul.stanza:nth-child(even) > li:nth-child(9n+1):after {
	color: var(--yellow);
	content: " |..|";
	font-weight:600;
}
ul.stanza > li:nth-child(9n+2):after {
	content: " ..-";
	color: var(--yellow);
}
ul.stanza > li:nth-child(9n+3):after {
	content: " |+|";
	color: var(--warmblack);
}
ul.stanza > li:nth-child(9n+4):after {
	content: " #_#";
	color: var(--warmlighgray);
	font-weight:600;
}
ul.stanza > li:nth-child(9n+5):after {
	content: " |\|";
	color: var(--red);
}
ul.stanza > li:nth-child(9n+6):after {
	content: " ^..";
	color: var(--warmgray);
}
ul.stanza > li:nth-child(9n+7):after {
	content: " &_&";
	color: var(--warmblack);
	font-weight:600;
}
ul.stanza > li:nth-child(9n+8):after {
	content: " +0+";
	color: var(--warmgray);
}
ul.stanza > li:nth-child(9n+0):after {
	content: " |||";
	color: var(--yellow);
	font-weight:500;
}

ul.stanza > li:nth-child(5n+1):before {
	content: ".|_ ";
	font-weight:600;
	color: var(--warmblack);
}
ul.stanza:nth-child(even) > li:nth-child(5n+1):before {
	content: "..|. ";
	font-weight:600;
	color: var(--red);
}
ul.stanza > li:nth-child(5n+2):before {
	content: "|.| ";
	color: var(--yellow);
}
ul.stanza > li:nth-child(5n+3):before {
	content: "|\| ";
	color: var(--warmgray);
	font-weight:600;
}
ul.stanza > li:nth-child(5n+4):before {
	content: "+_+ ";
	color: var(--red);
}
ul.stanza > li:nth-child(5n+0):before {
	content: "&=^ ";
	color: var(--warmlightgray);
	font-weight:600;
}
