@page {
	@footnote {
		background-color: var(--bgfootnote);
		border-top: var(--hr2);
	}
	margin: var(--margin);
	size: var(--width) var(--height);
	marks: crop cross;
	bleed: 0.25in;
	-prince-trim: 0.25in;
	counter-increment: counterPage;
}
@page :left {
	margin-right: 1.2in;
	margin-right: var(--margingutter);
}
@page :right {
	margin-left: 1.2in;
	margin-left: var(--margingutter);
}
@page :right{
	@bottom-right {
		content: counter(counterPage);
		font-family:  var(--monospace_zerodot);
		font-weight:400;
		font-size: 20pt;
		color: var(--warmlightgray);
		color: var(--richgray3);
		margin-bottom: 0.6in;
	}
}
@page :left{
	@bottom-left {
		content: counter(counterPage);
		font-family:  var(--monospace_zerodot);
		font-weight:400;
		font-size: 20pt;
		color: var(--warmlightgray);
		color: var(--richgray3);
		margin-bottom: 0.6in;
	}
}
@page cover {
	margin: 0;
	@bottom-left {
		content: none;
	}
	@bottom-center {
		content: none;
	}
	@bottom-right {
		content: none;
	}
	@top-left {
		content: none;
	}
	@top-center {
		content: none;
	}
	@top-right {
		content: none;
	}
}
@page pageblank {
	@bottom-left {
		content: none;
	}
	@bottom-center {
		content: none;
	}
	@bottom-right {
		content: none;
	}
	@top-left {
		content: none;
	}
	@top-center {
		content: none;
	}
	@top-right {
		content: none;
	}
}
div.blank, section.blank, section#sectiontoc {
	page: pageblank;
}
main > header, section.pagefrontmatter, section > header > h1, section#prelude, section#sectiontoc, section#bookinscription {
	page: pageblank;
}
@page pagewithborderline {
	border-top: thin var(--warmblack) solid;
	border-bottom: thin var(--warmblack) solid;
}
@page pagefigure :right{
	counter-increment: counterFigure;
	@bottom-right {
		content: "page ::: " counter(counterPage) " figure # => " counter(counterFigure);
	}
}
@page pagefigure :left{
	counter-increment: counterFigure;
	@bottom-left {
		content: "page:" counter(counterPage) "figure #" counter(counterFigure);
	}
}
figure, div.frame {
	page: pagefigure;
}
