/*https://www.w3.org/TR/css-page-3/ */
/*https://www.princexml.com/doc/paged/ */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  /*--red: #9a0000;*/
	--red: #8F0000; /*panatone:"7621 C" rgb(rgb(143,0,0)), cmyk(0,100,100,44), hsl(0,100%,28%)*/
	--yellow: #ffcc00;/*rgb(255,204,0), hsl(48,100%,50%), cmyk(0,20,100,0) */
	/*--yellow: #FFD700;/*panatone "Yellow 012 C" rgb(255,215,0), hsl(50.4,100%,50%), cmyk(0,16,100,0) */
	--blue: #006699; /*rgb(0,102,153), hsl(200,100%,30%), cmyk(100,33,0,40) */
	/*--blue: #00629B; panatone "3015 C", rgb(0,98,155), hsl(202.1,100%,30.4%), cmyk(100,37,0,39)*/
	--bluegreen: #006969; /*rgb(0,105,105), hsl(180,100%,20.6%), cmyk(100,0,0,59) */
	/*--bluegreen: #006666; close to "7715 C" rgb(0,102,102), hsl(180,100%,20%), cmyk(100,0,0,60)*/
	--black: #000000;
	--warmblack: #191918;/*panatone "Black 6 C" rgb(25,25,24), hsl(60,2%,9.6%), cmyk(0,0,4,90)*/
	/*--warmblack: #1A1A19; rgb(26,26,25),hsl(60,2%,10%),cmyk(0,0,4,90) */
	--gray: #484848;
	--lightgray: #888888;
	--warmgray: #4b4b44;
	--warmlightgray: #656560;
	--white: #ffffff;
	--warmwhite: #fcfbe3; /* rgb(252,251,227),hsl(57.6,80.6%,93.9%),cmyk(0,0,10,1)*/
	/*--warmwhite: #fcfbe3;  rgb(252,252,227),hsl(60,81%,94%),cmyk(0,0,10,1)*/
	--warmlightwhite:#fdfdf3; /* panatone sort of "P 1-9 C"rgb(253,253,243),hsl(60,71.4%,97.3%),cmyk(0,0,4,1)*/
	--warmlightwhiteveil: rgba(253,253,243,0.8);
	--richblack: #010203;
	--richgray1: #2a2a2b;
	--richgray2: #4f4f50;
	--richgray3: #777878;
	--richgray4: #a2a3a3;
	--richgray5: #d0d0d0;
	--richgray6: #ffffff;
	--margin: 1in;
	--margingutter: 1.2in;
	--bleed: 0.25in;
	--width: 8.5in;
	--height: 8.5in;
	--innerwidth: 6.3in;
	--innerheight: 6.3in; /*pageheight - margin - margingutter*/
	--monospace_code: Courier, 'Andale Mono', AndaleMono, Monaco, monospace;
	--monospace: 'Lucida Console', 'Andale Mono', AndaleMono, Monaco, Courier, monospace;
	--monospace_zeroslash: Monaco, 'Andale Mono', AndaleMono, Courier, monospace;
	--monospace_zerodot: 'Andale Mono', AndaleMono, Monaco, Courier, monospace;
	--typewriter: 'American Typewriter', Didot, 'Times New Roman', serif;
	--sans: Verdana, Helvetica, Arial, Tahoma, 'Trebuchet MS', sans-serif;
	--serif: Georgia, Didot, 'Times New Roman', Times, serif;
	--cursive: 'Bradley Hand', 'Comic Sans MS', cursive, sans-serif;
	--dragons: Luminari, 'Bradley Hand', cursive, sans-serif;
	--oldbook: 'Palatino Linotype', 'Book Antiqua', Palatino, 'American Typewriter', 'Times New Roman', serif;
	--poetry: 'Crimson Pro', serif;
	--indent1: 2em;
	--indent2: 4em;
	--indent3: 6em;
	--indent4: 8em;
	--indent5: 10em;
	--fontSize0: 12pt;
	--textfont0: var(--monospace_zerodot);
	--textfont2: var(--monospace_zeroslash);
	--textfont1: var(--monospace_code);
	--bgfootnote: var(--warmwhite);
	--hr1: 2em solid var(--warmblack);
	--hr2: 1em solid var(--warmblack);
}
